* {
  box-sizing: border-box;
}

body{
  margin : 0;
  font-family: "Lucida Grande"
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  background-color: indigo;
  opacity: 0.9;
  top: 0;  
  z-index: 10;
  position: fixed;
}

.container{
  max-width: 1170px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.header-left{
  float: left;
  padding-left: 10px;
}

.menu-icon {
  color: indigo;
  float: right;
  font-size: 25px;
  padding: 25px 0;
  display: none;
}

.logo{
  margin-top: 15px;
  width: 70px;
}

.fa {
  margin-right: 5px;
}

.header-right{
  float: right;
  margin-right: -25px;
}

.header-right a{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover{
  opacity:0.5;
}

.top-wrapper{
  padding-top : 180px;
  padding-bottom : 100px;
  background-image: url(background.jpg);
  background-size: cover;  
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  position: relative;
  z-index: 1;
}

.top-wrapper .container{
  z-index: 1;
  position: relative;
}

.top-wrapper::after{
  content: '';
  display: block;
  width: 100%;
  height: 90%;
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
}

.top-wrapper h1{
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p{
  opacity: 1;
  margin-bottom: 3px;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img{
  border-radius : 50%;
}

.lesson-icon p {
  position: absolute;
  top: 60%;
  width: 100%;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.clear {
  clear: left;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.heading h3 {
  font-weight: normal;
}

.btn {
  width: 80px;
  height: 80px;
  color: white;
  font-family: arial Black;
  border-radius: 35px;
  background-color: #254a99;
  animation-name: example;
  animation-duration: 12s;
}

@keyframes example {
  0%   {background-color: rgb(15, 141, 150);}
  25%  {background-color: rgb(20, 153, 20);}
  50%  {background-color: aqua;}
  75%  {background-color: blue;}
  100% {background-color: #17367a;}
}

.btn:hover {
  opacity: 1;
}

.message {
  padding: 15px 40px;
  background-color: indigo;
  cursor: pointer;
  box-shadow: 0 7px gray;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.contact-form {
  padding-top: 100px;
  padding-bottom: 50px;
}

.section-title {
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

input, textarea{
  width: 400px;
  margin-top : 10px;
  margin-bottom : 30px;
  padding : 20px;
  font-size : 18px;
  border : 1px solid #dee7ec;
}

.note-message{
  color : tomato;
}

.btn-critic {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align : center;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}
