* {
  box-sizing: border-box;
}

body{
  margin : 0;
  font-family: "Lucida Grande"
}

a {
  text-decoration: none;
}

header {
  height: 65px;
  width: 100%;
  background-color: indigo;
  opacity: 0.9;
  position: fixed;
  top: 0;
  z-index: 10;
}

.container{
  max-width: 1170px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.header-left{
  float: left;
  padding-left: 10px;
}

.menu-icon {
  color: indigo;
  float: right;
  font-size: 25px;
  padding: 25px 0;
  display: none;
}

.logo{
  margin-top: 15px;
  width: 70px;
}

.fa {
  margin-right: 5px;
}

.header-right{
  float: right;
  margin-right: -25px;
}

.header-right a{
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover{
  opacity:0.5;
}

.top-wrapper{
  padding-top : 180px;
  padding-bottom : 100px;
  background-image: url(background.jpg);
  background-size : cover;
  color: white;
  text-align: center;
}

.top-wrapper h1{
  opacity: 0.9;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p{
  opacity: 1;
  margin-bottom: 3px;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 20%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img{
  border-radius : 50%;
}

.lesson-icon p {
  position: absolute;
  top: 40%;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.clear {
  clear: left;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.heading h3 {
  font-weight: normal;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.message {
  padding: 15px 40px;
  background-color: indigo;
  cursor: pointer;
  box-shadow: 0 7px gray;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align : center;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}
